body {
  margin: 0;
  padding: 0;
  background-color: #f9fbfd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardsAdditional{
  background-color: white;
}

.buttonsAdditional {
    min-width: 140px;
    max-width: 140px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: #696969;
  text-align: center;
  flex: 0 0 auto;
}
